<h1><%= t('mailers.common.dear_user') %>,</h1>

<p>
  <%= t('user_mailer.reset_password.text') %>.
</p>

<p>
  <%= link_to t('user_mailer.reset_password.link_text'), edit_password_reset(@user.reset_password_token) %>.
</p>

<%= render 'shared/mail_footer' %>
