.navbar {
  .navbar-inner {
    background-color: white;
    border: 0;
    border-top: 5px solid $lightViolet;
    padding: 0;
    background-image: none;
    border-radius: 0;

    h1 a {
      font-size: 0.75em;
      color: $darkViolet;
      font-weight: normal;
      //text-shadow: 0 0 150px $darkRed, 0 0 30px $darkRed, 0 0 10px $darkRed;
    }

    .navbar-login {
      float: right;
      background: $lightViolet;
      margin: 0;
      padding: 0 0.5em 0.5em 0.5em;
      @include round-bottom;
      color: white;
      a {
        color: white;
      }
      .btn {
        margin-top: 0;
      }
      form {
        margin-bottom: 0;
      }

    }

  }

  .navbar-breadcrumbs {
    float: right;
    padding: 0.5em 0;
    color: $darkViolet;
    a {
      color: $darkViolet;
    }
    strong {
      font-weight: normal;
    }
  }
}
