/* CONFIG */
/*----------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'ISTOK WEB', Georgia, Times, serif;
  color: $darkViolet;
}

p {
  font-family: 'Lora', Helvetica, Arial, sans-serif;
  color: $lightViolet;
}

body {
  padding: 0;
  color: $darkViolet;
  background-color: $lightGrey;
}

.container-fluid {
  padding: 0 20px;
}