<% if administrators_computer? %>
  <div id="admin-navigation">
    <div id="corner-navigation">
      <% if logged_in? %>
        <%= link_to t('users.logout'), logout_path %>
      <% else %>
        <%= link_to t('users.administration'), login_path %>
      <% end %>
    </div>
  </div>
<% end %>
